<div class="col col-6 mb-4 align-self-start">
  <div class="border rounded">
    <div class="p-3">
      <%= link_to post do %>
        <%= render partial: 'carousel', locals: { post: } %>
      <% end %>
    </div>
    <hr class="hr">
    <div class="p-3">
      <%= post.body.truncate(50) %>
    </div>
    <hr class="hr">
    <div class="p-3">
      <p>
        <%= render 'posts/likes/button', post: %>
      </p>
      <p>
        <%= post.user.username %>
      </p>
      <p>
        <%= l post.created_at %>
      </p>
    </div>
  </div>
</div>
