<div id="posts" class="posts">
  <div class="container">
    <div class="row">
      <div class="col col-8">
        <div class="border rounded">
          <div class="p-3">
            <%= render partial: 'carousel', locals: { post: @post } %>
          </div>
          <hr class="hr">
          <div class="p-3">
            <%= @post.body %>
          </div>
          <hr class="hr">
          <div class="p-3">
            <p><%= l @post.created_at %></p>
              <p>
                <%= render 'posts/likes/button', post: @post %>
              </p>
          </div>
        </div>
      </div>
      <div class="col col-4">
          <ul class="list-group list-group-light">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <%= render 'users/avatar', user: @post.user %>
                <div class="ms-3">
                  <p class="fw-bold mb-1">
                    <%= link_to @post.user, data: { turbo: false } do %>
                      <%= @post.user.username %>
                    <% end %>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <hr class="hr">
          <% if current_user&.owner?(@post) %>
            <div class="d-flex">
              <p class="me-2"><%= link_to 'edit', edit_post_path(@post), { role: 'button', class: 'btn btn-info' } %></p>
              <p class="me-4"><%= link_to 'delete', post_path(@post), {
                                    role: 'button',
                                    class: 'btn btn-danger',
                                    data: { turbo_method: :delete, turbo_confirm: '削除しますか？' }
                                  } %>
              </p>
            </div>
          <% end %>

          <ul id="comments" class="list-group list-group-light" style="max-height:450px; overflow-y:scroll;">
            <%= render partial: 'posts/comments/comment', collection: @comments %>
          </ul>
          <%= render partial: 'posts/comments/form', locals: { post: @post, comment: @comment } %>
      </div>
    </div>
    <div class="text-center my-5">
      <%= link_to 'Back To Posts', posts_path, { role: 'button', class: 'btn text-white', style: 'background-color: #55acee;' } %>
    </div>
  </div>
</div>
