<div id="login" class="login">
  <h1 class="login__title">ログイン</h1>
  <div class="login__inner">
    <%= form_with url: login_path do |f| %>
      <div class="form-outline">
        <%= f.text_field :email , class:"form-control" %>
        <%= f.label :email, "email", class: "form-label" %>
      </div>
      <br>
      <div class="form-outline">
        <%= f.password_field :password , class:"form-control" %>
        <%= f.label :password, "password", class: "form-label" %>
      </div>
      <br>
      <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
